.hero{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:1.5rem;
    max-width: 1100px;
    margin: 0rem auto -6rem;
    height: 100vh;

}

.intro-text h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: sans-serif;
}

.intro-text p{
    margin-bottom: 1.7rem;
}
.tagline1{
    color: #1a2e35;
}
.tagline2{
    color: #ff7757;
}
.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 4px;
    color: white;
    text-decoration: none;

}
.red{
    background-color: #ff7757;
    margin-right: 1.5rem;
}
.red:hover{
    background-color: #f16849;
    margin-right: 1.5rem;
    color: #fff;
}

.blue{
    background-color: #2c6ce4;
}

.blue:hover{
    background-color:#0059fd;
    color:#fff;
}

